<h1 class="text-center">Мой кабинет</h1>
<div class="col-lg-12">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
        <div class="tasks">
            <legend>Мои задачи</legend>

            <h3>Я выполняю:</h3>
            {$tasks['response']}
            <h3>Я контролирую:</h3>
            {$tasks['my']}
        </div>


    </div>

    <div class="col lg-3">

    </div>
</div>