<div>
    {foreach from=$items item="agree"}
        <div>
            <img class="contact-avatar left" src="/{User::$pathToAvatar}{$agree->user->avatar}" alt="На согласовании"/>
            <div class="left warp">{$agree->user->name}</div>
        </div>
        <div class="clearfix"></div>
    {/foreach}
</div>