<div class="activity-item">
    <h3>Добавлена задача</h3>
    <img class="contact-avatar left" src="/{User::$pathToAvatar}{$model->responsible->avatar}" alt="Автор задачи"/>
    <div>{$model->title}</div>
    <div class="clearfix"></div>
</div>