<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Компании<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="/company/index">Просмотр компаний</a></li>
        <li><a href="/company/add">Добавление компаний</a></li>
    </ul>
</li>