<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Описатели<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="/details/indexType">Просмотр описателей</a></li>
        <li><a href="/details/addType">Добавление описателя</a></li>
    </ul>
</li>