.loginForm
{
  width: 40%;
  margin: 0 auto;
  z-index: 1000;
}

.head img.logo
{
  height: 30px;
  margin-left: 20px;
}

.loginForm label.checkbox input
{
  position: relative;
  margin-left: 0;
}

.screenCenter
{
  position: absolute;
  top: 5%;
  margin-left: -20%;
  left: 50%;
}

.mainScreenLinks
{
  margin: 0 10px;
}

.mainScreenLinks>a
{
  font-weight: bold;
}

.loginLogo
{
  width: 180px;
  margin-bottom: 20px;
}
.color
{
  color: #ffffff;
}
#files .progress-bar{
  text-align: left;
  padding: 0px 0px 0px 10px;
}

.done{
  color: #ffffff;
  background: #0085CF !important;
}
.remove_file{
  padding-right: 5px;
}

.close_btn{
  float: right;
  padding: 0 5px;
  line-height: 14px;
  font-size: 18px;
  cursor: pointer;
}
.close_btn:hover{
  color: #000;
  cursor: pointer;
}
#File_name{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.add_file{
  padding: 9px;
  border-radius: 2px;
  border: 1px dashed #e3e3e3;
}
.active_add{
  padding: 9px;
  background: #fefce3;
  border: 1px dashed #0085CF;
}
#dropzone{
  height: 51px;
  margin-bottom: 15px;
  border-radius: 4px;
}
.drop{
  font-style: italic;
  color: #9c9c9c;
}