<div class="col-lg-10">
    <div class="tasks">
        <div id="myTasksContent" class="tab-content">
            {$tasks}
        </div>
    </div>
</div>
<div class="col-lg-2" style="display: none">
    <legend>Мои отчеты</legend>
    {*$report*}
    <legend>Отчет за день</legend>
    {$listTime}
    <div class="dropdown">
        <button id="showButton" aria-expanded="true" class="btn btn-info warp" data-toggle="dropdown"><i
                    class="glyphicon glyphicon-plus"></i> Добавить затраты времени
        </button>
        <div id="addTaskTimeForm" class="dropdown-menu" aria-labelledby="showButton">
            {*$addTime*}
        </div>
    </div>
</div>