<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Пользователи<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="/user/index">Просмотр пользователей</a></li>
        <li><a href="/user/add">Добавление пользователей</a></li>
    </ul>
</li>